@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-50: #ebf5fa;
        --text-100: #d6ebf5;
        --text-200: #add6eb;
        --text-300: #85c2e0;
        --text-400: #5cadd6;
        --text-500: #3399cc;
        --text-600: #297aa3;
        --text-700: #1f5c7a;
        --text-800: #143d52;
        --text-900: #0a1f29;
        --text-950: #050f14;
        
        --background-50: #edf4f7;
        --background-100: #dbe9f0;
        --background-200: #b8d3e0;
        --background-300: #94bdd1;
        --background-400: #70a7c2;
        --background-500: #4d90b3;
        --background-600: #3d748f;
        --background-700: #2e576b;
        --background-800: #1f3a47;
        --background-900: #0f1d24;
        --background-950: #080e12;
        
        --primary-50: #eef4f7;
        --primary-100: #dce9ef;
        --primary-200: #bad2de;
        --primary-300: #97bcce;
        --primary-400: #74a5be;
        --primary-500: #528fad;
        --primary-600: #41728b;
        --primary-700: #315668;
        --primary-800: #213945;
        --primary-900: #101d23;
        --primary-950: #080e11;
        
        --secondary-50: #ebf5f9;
        --secondary-100: #d8eaf3;
        --secondary-200: #b1d5e7;
        --secondary-300: #8ac0db;
        --secondary-400: #63abcf;
        --secondary-500: #3c96c3;
        --secondary-600: #30789c;
        --secondary-700: #245a75;
        --secondary-800: #183c4e;
        --secondary-900: #0c1e27;
        --secondary-950: #060f14;
        
        --accent-50: #e9f5fb;
        --accent-100: #d3ecf8;
        --accent-200: #a8d8f0;
        --accent-300: #7cc5e9;
        --accent-400: #51b1e1;
        --accent-500: #259eda;
        --accent-600: #1e7eae;
        --accent-700: #165f83;
        --accent-800: #0f3f57;
        --accent-900: #07202c;
        --accent-950: #041016;
    }
    .dark {
        --text-50: #050f14;
        --text-100: #0b1f28;
        --text-200: #163e50;
        --text-300: #215c78;
        --text-400: #2c7ba0;
        --text-500: #379ac8;
        --text-600: #5faed3;
        --text-700: #87c2de;
        --text-800: #afd7e9;
        --text-900: #d7ebf4;
        --text-950: #ebf5fa;
        
        --background-50: #080e12;
        --background-100: #0f1d24;
        --background-200: #1f3a47;
        --background-300: #2e576b;
        --background-400: #3d748f;
        --background-500: #4d90b3;
        --background-600: #70a7c2;
        --background-700: #94bdd1;
        --background-800: #b8d3e0;
        --background-900: #dbe9f0;
        --background-950: #edf4f7;
        
        --primary-50: #080e11;
        --primary-100: #101d23;
        --primary-200: #213945;
        --primary-300: #315668;
        --primary-400: #41728b;
        --primary-500: #528fad;
        --primary-600: #74a5be;
        --primary-700: #97bcce;
        --primary-800: #bad2de;
        --primary-900: #dce9ef;
        --primary-950: #eef4f7;
        
        --secondary-50: #060f14;
        --secondary-100: #0c1e27;
        --secondary-200: #183c4e;
        --secondary-300: #245a75;
        --secondary-400: #30789c;
        --secondary-500: #3c96c3;
        --secondary-600: #63abcf;
        --secondary-700: #8ac0db;
        --secondary-800: #b1d5e7;
        --secondary-900: #d8eaf3;
        --secondary-950: #ebf5f9;
        
        --accent-50: #041016;
        --accent-100: #07202c;
        --accent-200: #0f3f57;
        --accent-300: #165f83;
        --accent-400: #1e7eae;
        --accent-500: #259eda;
        --accent-600: #51b1e1;
        --accent-700: #7cc5e9;
        --accent-800: #a8d8f0;
        --accent-900: #d3ecf8;
        --accent-950: #e9f5fb;
    }
}

@layer utilities {
    .font-size-sm { font-size: 0.750rem; }
    .font-size-base { font-size: 1rem; }
    .font-size-xl { font-size: 1.333rem; }
    .font-size-2xl { font-size: 1.777rem; }
    .font-size-3xl { font-size: 2.369rem; }
    .font-size-4xl { font-size: 3.158rem; }
    .font-size-5xl { font-size: 4.210rem; }

    .font-family-heading { font-family: 'Gugi'; }
    .font-family-body { font-family: 'New Tegomin'; }

    .font-weight-normal { font-weight: 400; }
    .font-weight-bold { font-weight: 700; }
}
